h1{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: purple;
  font-size: 50px;
}
html{
  font-size: 18px;
  font-family: 'Montserrat', 'sans-serif';
}

ul{
  position: relative;
  display: flex;
  align-items: start;
  flex-flow: wrap-reverse;
  width: 304px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  background-color: #ebebf3;
  box-shadow: 5px 4px 17px 0px rgba(50, 50, 50, 0.64);
}
li{
  user-select: none;
  list-style: none;
  border: 1px solid #aec6d4;
  padding: 15px 30px 15px 30px;
  width: 8px;
  margin: 3px;
  height: 18px;
  text-align: center;
  border-radius: 6px;
  background-color: #b0c1da;
  cursor: pointer;
  box-shadow: 2px 1px 10px -5px rgba(50, 50, 50, 0.64);
  user-select: none;
}
li:hover{
  background-color:#d8d8e4 ;
  border: 1px solid #d8d8e4;
}

.display{
  user-select: initial;
  resize: none;
  background-color: white;
  width: inherit;
  cursor: initial;
  overflow: hidden;
}

.display:hover{
  background-color: white ;
  border: 1px solid #aec6d4;
}

#display{margin-bottom: 10px;}

footer{
  text-align: center;
  color: #97b0d4;
  position: relative;
  top: 5px;
  font-size: 15px;
}

.operator{background-color: #CFCCD9 ;}

a{text-decoration: none; color: purple;}